<!DOCTYPE html>
<html lang="en">
    <%- include('../template/head'); %>
<body class="container pt-5">
    <%- include('../template/header', {page: 'About'}); %>
    <div class="jumbotron">
        <h1>About me</h1>
        <a href="https://linktr.ee/vitiellolucas" target="_blank">My music, platforms and social networks</a>
    </div>
    <%- include('../template/footer'); %>
</body>
</html>